<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
      <add name ="csABC_Tests" connectionString="Data Source=laptop\db;Initial Catalog=ABC_Tests;Integrated Security=True" />      
    </connectionStrings>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />

      <!--Тип Аутентификации и куда перенаправлять при неудачной аутентификации-->
      <authentication mode="Forms">
        <forms loginUrl="others/LoginPage.aspx" defaultUrl="others/StartPage.aspx"></forms>
      </authentication>

      <!--Настрйоки связанные с мембршипом-->
      <membership defaultProvider="MembershipProviderEx">
        <providers>
          <clear />
          <add name="MembershipProviderEx"
               requiresQuestionAndAnswer="false"
               passwordFormat="Hashed"
               enablePasswordReset="true"
               enablePasswordRetrieval="false"
               minRequiredPasswordLength="5"
               minRequiredNonalphanumericCharacters="0"
               connectionStringName="csABC_Tests"
               applicationName="/"
               type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        </providers>
      </membership>

      <!--настройка менеджера ролей-->
      <roleManager defaultProvider="CtestRoleProvider" enabled="true">
        <providers>
          <clear />
          <add name="CtestRoleProvider"
               connectionStringName="csABC_Tests"
               applicationName="/"
               type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        </providers>
      </roleManager>
    </system.web>
    
</configuration>
